@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .p-dynamic {
    padding: calc((100vw + 5rem) / 21);
  }
  .px-dynamic {
    padding-right: calc((100vw + 5rem) / 21);
    padding-left: calc((100vw + 5rem) / 21);
  }
  .py-dynamic {
    padding-top: calc((100vw + 5rem) / 21);
    padding-bottom: calc((100vw + 5rem) / 21);
  }
  .pt-dynamic {
    padding-top: calc((100vw + 5rem) / 21);
  }
  .pb-dynamic {
    padding-bottom: calc((100vw + 5rem) / 21);
  }
  .m-dynamic {
    margin: calc((100vw + 5rem) / 21);
  }
  .mx-dynamic {
    margin-right: calc((100vw + 5rem) / 21);
    margin-left: calc((100vw + 5rem) / 21);
  }
  .my-dynamic {
    margin-top: calc((100vw + 5rem) / 21);
    margin-bottom: calc((100vw + 5rem) / 21);
  }
  .mt-dynamic {
    margin-top: calc((100vw + 5rem) / 21);
  }
  .mb-dynamic {
    margin-bottom: calc((100vw + 5rem) / 21);
  }
  .shadow-b {
    box-shadow: 0 1px 2px -1px rgb(0 0 0 / 0.1);
  }
}

body {
  @apply bg-white font-sans antialiased text-gray-900 scroll-smooth;
}

.link {
  @apply border-b border-gray-700 text-gray-700 hover:border-gray-500 hover:text-gray-500 transition-colors duration-300;
}

.show-validation input:invalid {
  @apply border-red-300 focus:border-red-600;
}
